---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

import TitleSection from "../components/TitleSection.astro";
import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Projects from "../components/Projects.astro";

import LinkeinIcon from "../components/icons/Linkedin.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import DeviceLaptopIcon from "../components/icons/DeviceLaptop.astro";
import CodeIcon from "../components/icons/Code.astro";
import UserStarIcon from "../components/icons/UserStar.astro";
import AboutMe from "../components/AboutMe.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout
	title="Porfolio de Nicolas Ardila - Desarrollador y Programador Web"
	description="Projecto personal para poder dar visivilidad a mis carrera a lo largo de 4 años de experiencia"
>
	<main class="px-4">
		<SectionContainer class="py-4 pb-15 lg:py-7" id="inicio">
			<div class="flex justify-center items-center mb-6">
				<Image
					width={200}
					height={200}
					inferSize={true}
					class="rounded-full size-50"
					src="/photos/perfil-protafolio.webp"
					alt="Nicolas Ardila"
				/>
			</div>

			<h1
				class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-4"
			>
				Dev, Nicolas Ardila <a
					href="https://www.linkedin.com/in/nicolas-ardilabb381a1a3/"
					target="_blank"
					class="flex justify-center items-center"
				>
					<Badge>Disponible</Badge>
				</a>
			</h1>
			<h2 class="text-xl md:text-xl lg:text-2xl text-wrap max-w-[700px]">
				<span>+3 años de experiencia.</span>
				<span class="text-blue-400"
					>Ingeniero de software en proceso enfocado en Backend con conocimiento
					de Frontend,</span
				><span class="text-amber-300/90"> de Colombia, Bogotá</span>
				<span class="opacity-70">
					especializado en desarrollo de software a la medida.</span
				>
			</h2>

			<nav class="flex gap-x-2 mt-8">
				<SocialPill href="https://www.linkedin.com/in/nicolas-ardilabb381a1a3/">
					<LinkeinIcon class="size-4" />
					Linkedin
				</SocialPill>
				<SocialPill href="https://github.com/jackas779">
					<GitHubIcon class="size-4" />
					GitHub
				</SocialPill>
			</nav>
		</SectionContainer>

		<SectionContainer id="experiencia" class="pb-24">
			<TitleSection>
				<DeviceLaptopIcon class="size-8" />
				Experiencia Laboral
			</TitleSection>
			<Experience />
		</SectionContainer>

		<SectionContainer id="proyectos" class="pb-24">
			<TitleSection>
				<CodeIcon class="size-8" />
				Proyectos
			</TitleSection>
			<Projects />
		</SectionContainer>

		<SectionContainer id="sobre-mi" class="pb-24">
			<TitleSection>
				<UserStarIcon class="size-8" />
				Sobre mí
			</TitleSection>
			<AboutMe />
		</SectionContainer>
	</main>
</Layout>
