
<div class="mx-auto">
  <div class="space-y-8">
    <!-- Contenido Principal -->
    <article>
      <p
        class="text-pretty leading-relaxed text-gray-600 dark:text-neutral-400 mb-6"
      >
        Hola, soy <span
          class="font-bold text-transparent bg-gradient-to-r from-blue-400 to-amber-400 dark:to-amber-300 bg-clip-text"
          >Nicolás Ardila Ochoa</span
        >, desarrollador <span
          class="font-bold text-blue-400 dark:text-amber-300">Full Stack</span
        > con experiencia en desarrollo web y automatización de procesos enfocado
        al Backend.
      </p>

      <p
        class="text-pretty leading-relaxed text-gray-600 dark:text-neutral-400 mb-8"
      >
        A lo largo de mi carrera he trabajado con tecnologías como <span
          class="font-semibold text-yellow-400/95 dark:text-amber-400"
          >JavaScript, PHP, Python, Vue, AWS</span
        >, y bases de datos como <span
          class="font-semibold text-yellow-400/95 dark:text-amber-400"
          >SQL Server</span
        > y
        <span class="font-semibold text-yellow-400 dark:text-amber-400"
          >MySQL</span
        >.
      </p>

      <p
        class="text-pretty leading-relaxed text-gray-600 dark:text-neutral-400 mb-6"
      >
        Me especializo en el desarrollo de <span
          class="font-semibold text-yellow-400 dark:text-amber-300"
          >soluciones web escalables</span
        >, implementando interfaces responsivas con <span
          class="font-semibold text-blue-400">HTML5, CSS3 y JavaScript</span
        >, y utilizando metodologías ágiles como <span
          class="font-semibold text-blue-400">SCRUM</span
        > y
        <span class="font-semibold text-blue-400">GitFlow</span>
        para la gestión eficiente de proyectos.
      </p>

      <p
        class="text-pretty leading-relaxed text-gray-600 dark:text-neutral-400 mb-6"
      >
        He tenido la oportunidad de trabajar en diferentes sectores, desde el
        desarrollo de portales universitarios, traking de trasnporte y hasta la
        creación de
        <span class="font-semibold text-blue-400">chatbots inteligentes</span> y
        automatización de procesos con herramientas como
        <span class="font-semibold text-yellow-400 dark:text-amber-300"
          >Amazon Lex, Lambda y Forecast</span
        >.
      </p>

      <p
        class="text-pretty leading-relaxed text-gray-600 dark:text-neutral-400 mb-8"
      >
        También tengo experiencia integrando sistemas mediante <span
          class="font-semibold text-gray-900 dark:text-white"
          >servicios REST</span
        > y generando documentación técnica funcional.
      </p>

      <h3 class="text-xl font-bold text-blue-400 mb-4">
        Mi Filosofía de Trabajo
      </h3>

      <p
        class="text-pretty leading-relaxed text-gray-600 dark:text-neutral-400 mb-6"
      >
        Me considero una persona <span
          class="font-bold text-gray-900 dark:text-white"
          >adaptable, orientada al trabajo en equipo y al aprendizaje continuo</span
        >, siempre en busca de nuevas formas de optimizar procesos y mejorar la
        experiencia del usuario.
      </p>

      <p
        class="text-pretty leading-relaxed text-gray-600 dark:text-neutral-400"
      >
        Actualmente, me encuentro abierto a nuevas oportunidades donde pueda
        seguir creciendo como profesional y aportar valor con soluciones
        tecnológicas innovadoras.
      </p>
    </article>
  </div>
</div>
