---
const { class: className } = Astro.props;
---

<span
  class={`
    py-1 px-2 
    inline-flex items-center 
    gap-x-1 text-xs 
    font-medium
    border-dashed
    border 
    bg-teal-100 
    text-teal-800 rounded-full 
    dark:bg-teal-500/10 
    dark:text-teal-500
    ${className}
    `}
>
  <span class="size-1.5 inline-block rounded-full bg-lime-800 dark:bg-lime-500"
  ></span>
  <slot />
</span>

<style>
  @keyframes dash-border-spin {
    from {
      background-position: 0% 0%;
    }
    to {
      background-position: 200% 200%;
    }
  }
</style>
