---
const { date, title, description, company } = Astro.props;
---

<!-- Heading -->
<div class="ps-0.5 my-2 first:mt-0">
  <h3 class="text-base font-medium uppercase text-stone-700 dark:text-cyan-50">
    {date}
  </h3>
</div>
<!-- End Heading -->

<!-- Item -->
<div class="flex gap-x-3">
  <!-- Icon -->
  <div
    class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-neutral-700"
  >
    <div class="relative z-10 size-7 flex justify-center items-center">
      <div class="size-2 rounded-full bg-gray-400 dark:bg-neutral-600"></div>
    </div>
  </div>
  <!-- End Icon -->

  <!-- Right Content -->
  <div class="grow pt-0.5 pb-8">
    <h3
      class="flex gap-x-1.5
      font-semibold
      text-lg
      text-blue-400"
    >
      {title}
    </h3>
    <p
      class="mt-1
      max-w-[550px]
      text-sm text-gray-600 text-pretty
      dark:text-neutral-400"
    >
      {description}
    </p>
    <button
      type="button"
      class="mt-1 -ms-1
      p-1.5
      inline-flex items-center gap-x-2
      font-bold
      text-sm text-gray-500
      rounded-lg border border-transparent
      hover:bg-gray-100
      focus:outline-hidden
      focus:bg-gray-100
      disabled:opacity-50 disabled:pointer-events-none
      dark:text-neutral-300/90
      dark:hover:bg-neutral-700
      dark:focus:bg-neutral-700
      cursor-pointer"
    >
      <!-- <img
        class="shrink-0 size-4 rounded-full"
        src="https://images.unsplash.com/photo-1659482633369-9fe69af50bfb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8auto=format&fit=facearea&facepad=3&w=320&h=320&q=80"
        alt="Avatar"
      /> -->
      {company}
    </button>
  </div>
  <!-- End Right Content -->
</div>
<!-- End Item -->
