---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: 2025,
    title: "Desarrollador PHP",
    description:
      "Desarrollé aplicaciones web en PHP y JavaScript, gestioné bases de datos en SQL Server y MySQL, y generé documentos PDF con FPDF. Usé jQuery y Ajax para mejorar la experiencia de usuario segun los requerimeintos del cliente",
    company: "Exabyte IT SAS",
  },
  {
    date: 2023,
    title: "Desarrollador Junior",
    description:
      "Participé en el desarrollo de chatbots y automatización de procesos usando AWS y Python. Colaboré en diseño de interfaces, documentación de proyectos, integración con servicios REST, y resolución de errores en React y C#",
    company: "Bextechnology S.A",
  },
  {
    date: 2021,
    title: "Desarrollador Junior Front",
    description:
      "Brindé soporte e implementé portales académicos usando Drupal 7, HTML5, CSS3, jQuery y SASS. Trabajé bajo metodologías ágiles (SCRUM, GitFlow) asegurando diseño responsive y control de versiones con Git",
    company: "Universidad de los Andes",
  },
];
---

<!-- Timeline -->
<div>
  {EXPERIENCE.map((experience) => <ExperienceItem {...experience} />)}
</div>
<!-- End Timeline -->
