---
import { Image } from "astro:assets";
import ToggleTheme from "./ToggleTheme.astro";
---

<header
  class="flex justify-center flex-col-reverse gap-y-10 items-center py-5 px-4 w-full max-w-[850px] mx-auto sm:justify-between sm:flex-row"
>
  <Image
    inferSize={true}
    class="rounded-full size-50 sm:size-20"
    src="https://purina.com.co/sites/default/files/2022-11/purina-brand-cuanto-vive-un-gato-nota_03.jpg"
    alt="Nicolas Ardila"
  />

  <nav class="flex flex-row gap-x-4 opacity-80 sm:gap-x-10">
    <a href="#top">Inicio</a>
    <a href="#experiencia">Experiencia</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#contacto">Contacto</a>
    <ToggleTheme />
  </nav>
</header>
